/nbproject/Makefile-variables.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-default.mk
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-impl.mk
/dist/
/build/
/Makefile
/nbproject/private/