/nbproject/Makefile-variables.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-default.mk
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-impl.mk
/dist/
/build/
/Makefile
/nbproject/private/
.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
/.vscode/
/cmake/
/git-diagnostics-2026-06-23-1458.zip